/* Mobile */
header {
    position: relative;
    display: flex;
    height: 5rem;
    border-bottom: 1px solid var(--gray);
}

header .hamburger_container {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
}

header .hamburger_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 1.7rem;
    cursor: pointer;
}

header .hamburger_btn span {
    display: block;
    width: 100%;
    height: .3rem;
    background: var(--black);
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
}

/* submenu */

header + .submenu_container {
    display: flex;
}

header + .submenu_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 200;
    padding: .6rem 0;
}

header + .submenu_container a.active {
    color: var(--white);
    background: var(--blue);
}

/* Tablettes (écrans > 768px) */
@media (min-width: 768px) {

}

/* Desktops (écrans > 1024px) */
@media (min-width: 1024px) {

}